body{
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
  margin-left: 40px;
}

.screen{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.grid{
  position:absolute;
  inset:0;
  background-image:
    linear-gradient(rgba(255,255,255,0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size:60px 60px;
}
video{
  width:min(700px,90vw);
  z-index:1;
}
canvas{
  border:1px solid red;
  display:block;
  margin:auto;
}
.abc {
  /*https://www.geeksforgeeks.org/html/how-to-remove-focus-border-outline-around-text-input-boxes/*/
  background-color: red;
  color: black;
  height: 30px;
  width : 20px;
  font-size: 30px;
}
input, textarea {
  border: none;
  outline: none;
}

.tir {
  background-color: black;
  color: white;
  border: 2px solid white;
  height: 35px;
  width : 100px;
  font-size: 30px;
  justify-content: center;
}

.nouveaux {
  background-color: red;
  color: white;
  height: 35px;
  width : 250px;
  font-size: 30px;
  justify-content: center;
}
.gradient {
  border-image: linear-gradient(45deg, #0066ff, #ff32d6) 1;
border-width: 3px;
}
